includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    paths:
        - src
        - tests/Behat

    excludePaths:
        # Makes PHPStan crash
        - 'src/DependencyInjection/Configuration.php'

        # Test dependencies
        - 'tests/Application/app/**.php'
        - 'tests/Application/src/**.php'

    ignoreErrors:
        - '/Parameter #1 \$configuration of method Symfony\\Component\\DependencyInjection\\Extension\\Extension::processConfiguration\(\) expects Symfony\\Component\\Config\\Definition\\ConfigurationInterface, Symfony\\Component\\Config\\Definition\\ConfigurationInterface\|null given\./'
        -
            identifier: missingType.iterableValue
        # Symfony's Config tree-builder stubs type end() as nullable, breaking fluent chains.
        - '/Cannot call method \w+\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null\./'
